.drawer-route-item {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    transition: background-color 0.15s ease-in-out;
}