.text {
    margin: 0;
    padding: 0;
    transition: color 0.2s ease-in-out, width 0.2s ease-in-out;
    font-family: 'Public Sans', sans-serif;
    width: fit-content;
    text-align: center;
    z-index: 5;
    white-space: pre-line;
}

.text.italic {
    font-style: italic;
}

.text.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
