.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

@media (max-width: 1024px) {
    .row {
        flex-wrap: wrap;
    }
}