body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: '';
  --primary-opacity: '';
  --on-primary: '';
  --secondary: '';
  --tertiary: '';
  --background: '';
  --on-background: '';
  --surface:'';
  --surface-secondary: '';
  --text: '';
  --text-secondary:'';
  --outline: '';

  --green: '';
  --on-green:'';
  --blue: '';
  --on-blue:'';
  --yellow: '';
  --on-yellow: '';
  --orange: '';
  --on-orange: '';

  --screen-s: 800;
  --screen-m: 1024;
  --screen-l: 1280;
}