body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #4F46E5;
  --primary-opacity: #EEF2FF;
  --on-primary: #FFFFFF;
  --secondary: #46b5e5;
  --tertiary: #E0E7FF;
  --background: #F9FAFB;
  --on-background: #4B5663;
  --surface: #FFFFFF;
  --surface-secondary: #F3F4F6;
  --text: #111727;
  --text-secondary: #7C828E;
  --outline: #DBDAD8;

  --green: #DFF6E0;
  --on-green: #1D7B2E;
  --blue: #DBE9FE;
  --on-blue: #1D40B0;
  --yellow: #FEF9C3;
  --on-yellow: #916025;
  --orange: #FEE7DB;
  --on-orange: #B0581D;

  --screen-s: 800;
  --screen-m: 1024;
  --screen-l: 1280;
}

[data-theme='dark'] {
  --primary: #6366f1;
  --primary-opacity: #2E3350;
  --on-primary: #FFFFFF;
  --secondary: #46b5e5;
  --tertiary: #1f2937;
  --background: #121212;
  --on-background: #E5E7EB;
  --surface: #1E1E1E;
  --surface-secondary: #2C2C2C;
  --text: #FFFFFF;
  --text-secondary: #9CA3AF;
  --outline: #3F3F46;

  --green: #1D7B2E;
  --on-green: #DFF6E0;
  --blue: #1D40B0;
  --on-blue: #DBE9FE;
  --yellow: #916025;
  --on-yellow: #FEF9C3;
  --orange: #B0581D;
  --on-orange: #FEE7DB;
}
