.language-card {
    padding: 24px;
    background-color: var(--background);
    border-radius: 8px;
    transition: transform 0.15s ease-in-out;
    box-sizing: border-box;
}

.language-card:hover {
    transform: scale(1.01);
}